*{
    margin: 0;
    padding: 0;
}
.wrapper
{
    margin: 50px;
    border: 2px solid #000;
    height: 300px;
}

.container
{
    width: 100%;
    margin: 0 auto;
}

.nav
{
    width: 20%;
    float: left;
    height: 280px;
  border-right: 2px solid #d6e0e4;
    margin: 5px;
}

.register
{
    width: 70%;
    float: left;
    height: 280px;
     margin: 5px;
     
}

.left-menu 
{
    list-style: none;
    margin: 30px;
     padding:30px;
      
}     
      
.left-menu  li
{
    display: block;
    padding: 4px;
}
.left-menu li a
{
    text-decoration: none;
    color: #1467bf;
    font-weight: bold;
    
    margin: 4px;

}

.left-menu li a:hover
{
 color: #d08512;
}
.reg-table 
{
   width: 80%;
   padding:30px;
   margin: 30px;
}
.reg-table td{
    padding: 2px;
}

#register-btn
{
    background: #1467bf;
    border: 1px solid #093665;
    padding: 10px;
    color: #f3f3f3;
    border-radius: 4px;
}

.input-text
{
  border: 1px solid #b3b9bf;
    padding: 5px;
}

